<!--Informacion del clima-->
<div class="container p-4">
  <div class="row">
      <div class="col-md-4">
          <div class="card card-body">
              <div class="sign">
                  <span class="fast-flicker">C</span>LI<span class="flicker">M</span>EX
              </div>
              <img width="180" alt="Angular Logo" src="../assets/clima.png" class="mx-auto">
              <input type="text" placeholder="Nombre de la Ciudad" class="form-control" autofocus #cityName>
              <button (click)="submitLocation(cityName)" style="font-size: 4.5mm;" class="btn btn-primary sign fast-flicker flicker btn-block mt-2">
                  Obtener Clima</button>
          </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4">
          <div *ngIf="weather" class="card card-body text-center">
              <div class="sign" style="font-size: 6mm; text-align: center;">
                  <span class="fast-flicker">Informacion</span> del <span class="flicker">Clima</span>
              </div>
              <br>
              <strong><p>País: {{weather.sys.country}}</p>
              <p>Ciudad: {{weather.name}}</p>
              <p>Temperatura: {{weather.main.temp}} °C</p>
              <p>Sensación Térmica: {{weather.main.feels_like}} °C</p>
              <p>Descripción del cielo: "{{weather.weather[0].description}}"</p>
              <p>Temp. Min: {{weather.main.temp_min}} °C</p>
              <p>Temp. Max: {{weather.main.temp_max}} °C</p>
              <p>Humedad: {{weather.main.humidity}} m3</p>
              <p>Viento: {{weather.wind.speed}} m/s</p>
          </strong>
          </div>
      </div>
  </div>
  <br>
  <!--Informacion del inegi-->
  <div class="row">
      <div class="col-lg">
          <div class="sign" style="letter-spacing: normal; text-align: center;">
              <span class="fast-flicker">Informacion</span> del <span class="flicker">Estado</span>
          </div>
          <ng-container *ngIf="estado">
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Clave de Estado</th>
                          <th scope="col">Nombre de Ciudad</th>
                          <th scope="col">Poblacion Total del Estado</th>
                          <th scope="col">Poblacion Total de Mujeres</th>
                          <th scope="col">Poblacion Total de Hombres</th>
                          <th scope="col">Total de Viviendas en el estado</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let estado of estadoinfo">
                          <td>{{estado.cve_agem}}</td>
                          <td>{{estado.nom_agem}}</td>
                          <td>{{estado.pob}}</td>
                          <td>{{estado.pob_fem}}</td>
                          <td>{{estado.pob_mas}}</td>
                          <td>{{estado.viv}}</td>
                      </tr>
                  </tbody>
              </table>
          </ng-container>
      </div>
  </div>
</div>

